<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RPG Gremlins</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-inverse ">
        <a class="navbar-brand" href="/">
            <img alt="GremlinLogo" th:src="@{/images/gremlin.jpg}" height="20">
        </a>
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle"  href="/rpgclasses">Classes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="list-item">Artificer</li>
                    <li class="list-item">Barbarian</li>
                    <li class="list-item">Bard</li>
                    <li class="list-item">Cleric</li>
                    <li class="list-item">Druid</li>
                    <li class="list-item">Fighter</li>
                    <li class="list-item">Monk</li>
                    <li class="list-item">Paladin</li>
                    <li class="list-item">Ranger</li>
                    <li class="list-item">Rouge</li>
                    <li class="list-item">Sorcerer</li>
                    <li class="list-item">Warlock</li>
                    <li class="list-item">Wizard</li>
                </ul>
            </li>
            <li><a href="#">Races</a></li>
            <li><a href="#">Skills</a></li>
        </ul>
    </nav>
</header>
</body>
</html>