<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
</head>
<div th:replace="header ::header"></div>
<body>

<main role="main" class="py-5 flex-fill" >
    <h2>Custom Login Page</h2>
    <form method="post" th:action="@{/login}">
        <label for="username">Username</label>: <input autofocus="autofocus"
                                                       id="username" name="username" type="text"/> <label
            for="password">Password</label>: <input id="password" name="password"
                                                    type="password"/><input type="submit" value="Log in"/>
    </form>

</main>
</body>

<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">
</html>